div.tableContainer {
  clear: both;
  border: 1px solid #963;
  height: 485px;
  overflow: hidden;
  width: 970px;
}

thead.fixedHeader tr {
  display: block;
}

tbody.scrollContent {
  display: block;
  height: 462px;
  overflow: auto;
}

table.scrollTable {
  table-layout:fixed;
  width:100%;
}

tr:nth-of-type(odd) {
  background-color:#ccc;
}

thead.fixedHeader th:first-child {
  width: 100px;
}

thead.fixedHeader th {
  width: 70px;
}

tbody.scrollContent td:first-child {
  width: 100px;
}

tbody.scrollContent td {
  width: 70px;
}

td.development {
  color: white;
  background: green;
}

td.stabilization {
  background: yellow;
}

td.release {
  background: red;
}
